body {
    font-family: "Century Gothic","Avant Garde Gothic","Avant Garde","URW Gothic L",helvetica,sans-serif;
    font-size: 15px;
    /*background-color: #29569B;*/
    /*background-color: #29569B;*/
    /*color: #29569B;*/
}
.header, .main {
    width: 900px;
    background-color: #FFFFFF;
    padding: 20px;
    margin: 10px auto;
}
a {
    /*color: #29569B;*/
    color: #C9302C;
    text-decoration: none;
    border-bottom: 1px dotted;
}
.title {
    font-size: 20px;
    float: left;
}
h1, h2, h3, h4, h5 {
    margin: 0;
    font-family: "Century Gothic","Avant Garde Gothic","Avant Garde","URW Gothic L",helvetica,sans-serif;
    font-weight: normal;
}
.nav {
    float: right;
}
.nav ul {
    padding: 0;
}
.nav ul li {
    list-style-type: none;
    float: left;
}
.nav a {
    font-family: "Century Gothic","Avant Garde Gothic","Avant Garde","URW Gothic L",helvetica,sans-serif;
    font-size: 17px;
    text-decoration: none;
    display: block;
    padding: 1px 10px;
    /*border: 1px solid #29569B;*/
    /*border: 1px solid #C9302C;*/
    border: 1px solid #bbb;
    color: grey;
    margin: 1px 2px;
}
a:hover {
    /*background-color: #29569B;*/
    background-color: #C9302C;
    color: #FFFFFF;
}
ol li {
    padding: 5px 0;
}
ol {
    margin: 0 auto;
}
h3 {
    margin-top: 20px;
}

div.shadow {
    border: 1px solid #ccc;
    box-shadow: 0 0 24px #bbb;
    background: #fff;
    /*color: #666;*/
}

i.fa {
    color: #C9302C;
}

a:hover i.fa {
    color: #FFFFFF;
}